body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    /*background-image: url(.//images/weather.jpg);*/
    /*background-color: #4d99e7;*/
    background-color: #343d4c;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    display: flex;
}

.card {
    background-color: #212832;

    width: 912px; /*50%*/
    min-width: 400px;
    height: 500px; /*80%*/
    border: 5px solid rgb(51, 91, 165);
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current {
    width: 350px;
    min-width: 30%;
    height: 87%;
    display: flex;
    flex-direction: column;
    /*
    align-items: center;
    justify-content: space-between;
    */
    background-image: url(.//images/Blurred-Background_9-800x461.jpg);

    margin: 50px;

    border: 2px solid #9db7f9;
    border-radius: 40px;
    box-sizing: border-box;

    z-index: 1;
}

.day {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    margin: 10% 0 0 10%;
}

.date {
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    margin: 1% 0 0 10%;
}

.position {
    font-size: 22px;
    color: white;
    margin: 5% 0 0 10%;
    display: flex;
    align-items: center;
}

#svg {
    fill: white;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 10% 0 0 8%;
}

.temperature {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-left: 10%;
}

.description {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-left: 10%;
}

.detals {
    width: 500px;
    height: 87%;
    margin-left: -100px;
    padding: 25px 0 25px 100px;

    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;

    border: 2px solid #9db7f9;
    border-radius: 0 40px 40px 0;
    box-sizing: border-box;
}

.text {
    font-size: 23px;
    color: white;
    font-style: italic;
}