.container {
  width: 100px;
  height: 150px;
  background-color: lightblue;
  border-radius: 5px;
  margin-bottom: 10px;

  &__text {
    margin: 0;
    background-color: blue;
    color: white;
  }

  &__value {
    font-size: 30px;
    text-align: center;
  }
}
