.body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh; /*100% от окна браузера*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornsilk;
}

.container {
    height: 80%;
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 grey;
    background: white;

}

.task {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding:  5px 0;
    margin-left: 10px;    
}

.title {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subs {
    color: gray;
    font-size: 15px;
}

.datetime {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 12px;
    color: gray;
}