body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    width: 40%;
    max-width: 600px;
    height: 70%;
    min-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
}

.user {
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
    background-color: lightblue;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.name {
    font-weight: bold;
    font-size: 18px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.email {
    font-size: 15px;
    color: gray;
    font-style: italic;
    margin-bottom: 5px;
}

.age {
    font-size: 15px;
    color: gray;
}

.delete {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}