body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list {
    width: 40%;
    max-width: 400px;
    height: 70%;
    min-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-behavior: smooth; /*скролы из js будут плавными */
}

.loading {
    display: flex;
}

.user {
    width: 100%;
    height: 80px;
    margin-bottom: 5px;
    background-color: lightblue;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.name {
    font-weight: bold;
    font-size: 18px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.email {
    font-size: 15px;
    color: gray;
    font-style: italic;
    margin-bottom: 5px;
}

.age {
    font-size: 15px;
    color: gray;
}

.delete {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
    background: url("./images/pencil-outline.svg") lightgreen;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    /*padding: 3px;
    box-sizing: border-box;*/
}

.field {
    display: none;
    width: 70%;
    margin-bottom: 2px;
}

.editable > .field {
    display: block;
}

.editable > .name {
    display: none;
}

.editable > .email {
    display: none;
}

.editable > .age {
    display: none;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-window {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    padding: 40px 55px;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add-field {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 15px;
}

.add-btn {
    width: 100%;
    height: 40px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: pink;
    border-radius: 5px;
    cursor: pointer;
}

/*
.hide {
    display: none;
}
*/

.show {
    display: flex;
}

.error {
    border: 2px solid red;
}

/*
.valid {
    border: 2px solid green;
}
*/

.add-user {
    width: 150px;
    height: 40px;
    background: skyblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 black;
    transition: .3s;
}

.add-user:hover {
    box-shadow: 0 0 2px 0 gray;
}

.option {
    text-transform: capitalize;
}

.gender {
    text-transform: capitalize;
    width: 100px;
    outline: none;
    margin-right: 50px;
}

.filters {
    display: flex;    
    margin-bottom: 20px;
    width: 300px;
    align-items: center;
    height: 30px;
}

.sort {
    font-size: 30px;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid skyblue;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    color: blue;
    font-weight: bold;
}