<div class="container" appFirst>
  <app-task (deleteEvent)="deleteItem($event)" [task]="item" *ngFor="let item of taskList"></app-task>
</div>

<app-add-task (newTaskAdd)="addNewTask($event)"></app-add-task>

<!-- <input type="text" [(ngModel)]="testValue">
<button (click)="addOne()">Add 1</button> -->
