.container {
  width: 400px;
  margin-top: 20px;
  box-shadow: 0 0 10px 0 black;
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  position: relative;

  &__input {
    outline: none;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 10px;
    margin-right: 5px;
    min-width: 80%;

    &_error {
      border: 1px solid red;
    }
  }

  &__add {
    width: 100%;
  }

  .errors {
    color: red;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 12px;
  }
}
