<!-- {JSON}Placeholder -->
<!-- https://learngitbranching.js.org/?locale=ru_RU - тренировка по GIT-->

<!--DI - (dependency injection) - внедрение зависимостей) почитать, очень важно!-->
<!--Хуки спрашивают на собеседованиях
  ngOninit(){}
  ngOnDestroy(){}
-->


<div class="container" appFirst [color]="'lightblue'">
  <app-task (deleteEvent)="deleteItem($event)" [task]="item" *ngFor="let item of taskList"></app-task>
  <!-- <app-task (deleteEvent)="deleteItem($event)" [task]="item" *ngFor="let item of taskList | async"></app-task>--> <!-- pipe - async  -->
</div>

<app-add-task (newTaskAdd)="addNewTask($event)"></app-add-task>

<!--

  <input type="text" [(ngModel)]="testValue">
  <button (click)="addOne()">Add 1</button>

-->
