body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.main {
    width: 250px;
    height: 80%;
}

.channels {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px 0 chartreuse;
    margin-top: 15px;
}

.channel {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    color: white;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    user-select: none;
}

.logo {
    margin-right: 10px;
    width: 30px;
}