.wrapper {
    width: 100%;
    height: 90vh;
    border: 2px solid black;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px 0 blanchedalmond;
    position: relative;
}

.elem {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
}

.drag {
    box-shadow: 0 0 15px 0 black;
}