<h1 *ngIf="isTitleShow">{{ title }}</h1> <!--интерполяция-->

<button (click)="increment()"> Нажато {{ counter }}</button> <!--click - аналог add.EventListner-->

<h2>{{ myNumbers[3] }}</h2>

<h3 *ngIf="selectedValue">Нажато на {{ selectedValue }}</h3>

<!--<h3 *ngFor="let item of myNumbers; let i = index">{{ item }} - {{ i }}</h3> *ngFor - директива, бывает двух типов: структурные (влияет на разметку) и атрибутивные-->

<!--<app-item *ngFor="let item of myNumbers">{{ item }}</app-item> страый вариант для ng-content-->
<app-item *ngFor="let item of myNumbers" [value] = "item" (selectEvent)="onSelect($event)"></app-item>

<!--Структурные:
*ngFor
*ngIf
*ngSwitch
кастомные
---------------------------
Атрибутивные:
ngClass
ngStyle
---------------------------

ЧЕМ ОТЛИЧАЕТСЯ КОМПОНЕНТ ОТ ДИРЕТИВЫ??? У директивы нет своего html кода
-->
