<div class="task">
  <!--
    <span class="date"> {{ task.datetime *1000 | date: 'dd//MM/yyyy' }} </span>
  встроенный в Angular Pipe
  -->
  <ng-container *ngIf="isEdit then edit else view"></ng-container>

  <div class="btn btn_edit" [class.btn_active]="isEdit" [style.color]="'red'" (click)="toggleEdit()">E</div> <!-- [] - динамическое управление в angular-->
  <div class="btn btn_delete" (click)="deleteTask()">X</div>
</div>

<ng-template #view>
  <input type="checkbox" [(ngModel)]="task.complete">

  <div class="info">
    <span class="info__name">{{ task.title }}</span>
    <!-- <<span class="info__description"> {{ task.description }}</span>> -->
  </div>

  <!-- <span class="date"> {{ task.datetime | appDateTimePipe }} </span> -->
</ng-template>


<ng-template #edit>
  <div class="info">
    <input type="text" class="info__name" [(ngModel)]="task.title"> <!--to way data binding - двухсторонняя привзяка - banana in the box-->
    <!-- <input type="text" class="info__description" [(ngModel)]="task.description"> -->
  </div>

  <!-- <span class="date"> {{ task.datetime | appDateTimePipe }} </span> -->
</ng-template>
