<div class="task">
  <ng-container *ngIf="isEdit then edit else view"></ng-container>

  <div class="btn btn_edit" [class.btn_active]="isEdit" (click)="toggleEdit()">E</div>
  <div class="btn btn_delete" (click)="deleteTask()">X</div>
  <div class="details" [routerLink]="['/description', 'task.id']">Show details</div>
</div>

<ng-template #view>
  <input type="checkbox" [(ngModel)]="task.complete">
  <div class="info">
    <span class="info__name">{{ task.title }}</span>
  </div>
  <!-- <span class="date">{{ task.datetime | appDateTimePipe }}</span> -->
</ng-template>

<ng-template #edit>
  <div class="info">
    <input type="text" class="info__name" [(ngModel)]="task.title">
  </div>
  <!-- <span class="date">{{ task.datetime | appDateTimePipe }}</span> -->
</ng-template>
