.task {
  width: 100%;
  height: 90px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 5px;

  .info {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__name {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
      outline: none;
    }

    &__description {
      font-style: italic;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      outline: none;
    }
  }

  .date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: gray;
  }

  .btn {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 5px;

    &_delete {
      right: 5px;
      background-color: red;
    }

    &_edit {
      right: 30px;
      background-color: blue;
    }

    &_active {
      background-color: yellow;
    }
  }

  .details {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
    color: blue;
  }

}
