body{
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornsilk;
    flex-direction: column;
}

.container {
    height: 70%;
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 gray;
    background-color: white;
    margin-bottom: 20px;
}

.task {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 0;
    margin-left: 10px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subs {
    color: gray;
    font-size: 15px;
}

.datetime {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 12px;
    color: gray;

}

input:checked + .info > .title {
    text-decoration: line-through;
}

.delete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    text-transform: uppercase;
}

.add {
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 10px 0;
}

input[type=text] {
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;/*НОВОЕ*/
}

button {
    width: 60%;
    height: 30px;
}





/*НОВОЕ*/
.required {
    border: 3px solid red;
}