body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.main {
    width: 250px;
    height: 80%;
    margin-right: 30px;
}

.channels {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px 0 chartreuse;
    margin-top: 15px;
}

.channel {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    color: white;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    user-select: none;
}

.logo {
    margin-right: 10px;
    width: 30px;
}

.tvshows {
    width: 350px;
    height: 80%;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px 0 chartreuse;
    scroll-behavior: smooth;
}

.show {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.current-show {
    color: chartreuse;
}

.show-name {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.show-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    width: 90%;
    height: 4px;
    border: 1px solid white;
    margin: 0 10px;
    display: none;
}

.progress-line {
    height: 100%;
    width: 0;
    background: chartreuse;
}

.current-show .progress {
    display: block;
}