<div class="header">
  Task List

  <div class="links">
    <span routerLink="tasks" routerLinkActive="active-link">Tasks</span> <!-- (click)="goTo('tasks')" -->
    <span routerLink="about" routerLinkActive="active-link">About</span>
  </div>
</div>

<router-outlet></router-outlet>
