.header {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: cadetblue;
  box-sizing: border-box;

  .links {
    margin-left: 30px;
    font-size: 15px;
    color: white;
    cursor: pointer;

    span {
      padding-right: 15px;
      outline: none;
    }
  }
}

.active-link {
  text-shadow: 0 0 3px red;
}
