<form [formGroup]="taskForm" class="container">
  <input
    type="text" class="container__input"
    [class.container__input_error]="taskName.errors && taskName.touched"
    formControlName="taskName" placeholder="Task name..."
    (keypress)="keyPressHandler($event)"
    appEnterPress
  >

  <button (click)="addTask()" class="container__add">ADD</button>

  <div class="errors" *ngIf="taskName.errors && taskName.touched">
    <span *ngIf="taskName.errors.requred">Required field</span>
    <span *ngIf="taskName.errors.minllenght">Minimum 4 symbols</span>
    <span *ngIf="taskName.errors.maxlenght">Maximum 20 symbols</span>
  </div>
</form>
