body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    flex-direction: column;
}

.name {
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
}

.chat {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;
}

.message {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.self {
    justify-content: flex-end;
}

.self > .message-item {
    background-color: cadetblue;
}

.message-item {
    max-width: 80%;
    min-width: 50%;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px 20px 30px 20px;
    box-sizing: border-box;
}

.item-name {
    font-style: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.item-text {
    font-size: 14px;
}

.time {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
}

.action {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 5px;
}

.send {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
}

.send > img {
    width: 50%;
}